In [18]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [19]:
# Store the CSV you saved creating in part one into a DataFrame. 

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dikson,RU,2020-12-28 07:26:33,73.51,80.55,-14.57,90,77,8.97
1,1,Castro,BR,2020-12-28 07:26:34,-24.79,-50.01,62.78,98,82,5.48
2,2,Namibe,AO,2020-12-28 07:26:34,-15.20,12.15,72.19,73,98,4.36
3,3,Nalgonda,IN,2020-12-28 07:26:34,17.05,79.27,82.56,37,0,6.49
4,4,Oranjestad,AW,2020-12-28 07:26:35,12.52,-70.03,78.80,78,20,10.29

In [20]:
# Get the data types. 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [21]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

SyntaxError: invalid syntax (<ipython-input-5-44604a1d0e35>, line 4)

In [22]:
# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]
temps = []

for temp in max_temp: 
    temps.append(max(temp,0))

In [29]:
# Heatmap of temperature
# Get the latitude and longitude. 
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variale 
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.3)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating = False, max_intensity=300, point_radius=4)

# Add the heatmap layer. 
fig.add_layer(heat_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent humidity 
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity = 300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent humidity 
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity = 300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent humidity 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity = 300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Ask the customer to add a minimum and maximum temperature value. 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

In [34]:
# Filter the dataset to find the cities that fit the criteria 
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Nalgonda,IN,2020-12-28 07:26:34,17.05,79.27,82.56,37,0,6.49
4,4,Oranjestad,AW,2020-12-28 07:26:35,12.52,-70.03,78.80,78,20,10.29
6,6,Mahibadhoo,MV,2020-12-28 07:26:35,3.78,72.97,82.60,65,0,7.09
9,9,Victoria,HK,2020-12-28 07:24:37,22.29,114.16,78.80,39,0,21.92
10,10,Kapaa,US,2020-12-28 07:26:36,22.08,-159.32,75.20,83,40,13.87
11,11,Busselton,AU,2020-12-28 07:26:36,-33.65,115.33,84.99,26,0,5.01
15,15,Saint-Philippe,RE,2020-12-28 07:26:37,-21.36,55.77,86.00,62,20,5.82
18,18,Bathsheba,BB,2020-12-28 07:26:37,13.22,-59.52,77.00,88,40,12.75
19,19,Thinadhoo,MV,2020-12-28 07:26:37,0.53,72.93,82.65,68,99,6.69
24,24,Umm Lajj,SA,2020-12-28 07:26:38,25.02,37.27,75.15,44,1,1.48

In [35]:
preferred_cities_df.count()

City_ID       158
City          158
Country       155
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [36]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
3         Nalgonda      IN     82.56  17.05   79.27
4       Oranjestad      AW     78.80  12.52  -70.03
6       Mahibadhoo      MV     82.60   3.78   72.97
9         Victoria      HK     78.80  22.29  114.16
10           Kapaa      US     75.20  22.08 -159.32
11       Busselton      AU     84.99 -33.65  115.33
15  Saint-Philippe      RE     86.00 -21.36   55.77
18       Bathsheba      BB     77.00  13.22  -59.52
19       Thinadhoo      MV     82.65   0.53   72.93
24        Umm Lajj      SA     75.15  25.02   37.27

In [37]:
# Set parameters to search for a hotel. 

params = { 
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [41]:
# Iterate throug the DataFrame. 

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and get the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
try:
    # Grab the first hotel from the results and store the name. 
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except(IndexError):
    print("Hotel not found... skipping.")

In [47]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Nalgonda,IN,82.56,17.05,79.27,Sai Krishna Residency
4,Oranjestad,AW,78.80,12.52,-70.03,Divi Village Golf & Beach Resort
6,Mahibadhoo,MV,82.60,3.78,72.97,Omadhoo Inn
9,Victoria,HK,78.80,22.29,114.16,Mini Hotel Central
10,Kapaa,US,75.20,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
11,Busselton,AU,84.99,-33.65,115.33,Observatory Guest House
15,Saint-Philippe,RE,86.00,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
18,Bathsheba,BB,77.00,13.22,-59.52,Atlantis Hotel
19,Thinadhoo,MV,82.65,0.53,72.93,
24,Umm Lajj,SA,75.15,25.02,37.27,

In [49]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))