In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

   City_ID          City Country  Max Temp Current Description    Lat     Lng
0      702  Kruisfontein      ZA     80.01           clear sky -34.00   24.73
1      704        Dingle      PH     78.03          light rain  11.00  122.67
2      706    Bredasdorp      ZA     75.20           clear sky -34.53   20.04
3      707    Malumfashi      NG     77.29           clear sky  11.79    7.62
4      710         Vaini      TO     78.80          light rain -21.20 -175.20

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng
0,702,Kruisfontein,ZA,80.01,clear sky,-34.00,24.73
1,704,Dingle,PH,78.03,light rain,11.00,122.67
2,706,Bredasdorp,ZA,75.20,clear sky,-34.53,20.04
3,707,Malumfashi,NG,77.29,clear sky,11.79,7.62
4,710,Vaini,TO,78.80,light rain,-21.20,-175.20
5,711,Wewak,PG,81.30,scattered clouds,-3.55,143.63
6,713,Kapaa,US,75.20,clear sky,22.08,-159.32
7,715,Grand Gaube,MU,82.00,overcast clouds,-20.01,57.66
8,716,Hermanus,ZA,81.00,clear sky,-34.42,19.23
9,718,Saint-Philippe,RE,87.80,light rain,-21.36,55.77

In [7]:
preferred_cities_df.dtypes

City_ID                  int64
City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
dtype: object

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                194
City                   194
Country                194
Max Temp               194
Current Description    194
Lat                    194
Lng                    194
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.dropna()

In [11]:
clean_df.head(50)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng
0,702,Kruisfontein,ZA,80.01,clear sky,-34.00,24.73
1,704,Dingle,PH,78.03,light rain,11.00,122.67
2,706,Bredasdorp,ZA,75.20,clear sky,-34.53,20.04
3,707,Malumfashi,NG,77.29,clear sky,11.79,7.62
4,710,Vaini,TO,78.80,light rain,-21.20,-175.20
5,711,Wewak,PG,81.30,scattered clouds,-3.55,143.63
6,713,Kapaa,US,75.20,clear sky,22.08,-159.32
7,715,Grand Gaube,MU,82.00,overcast clouds,-20.01,57.66
8,716,Hermanus,ZA,81.00,clear sky,-34.42,19.23
9,718,Saint-Philippe,RE,87.80,light rain,-21.36,55.77
10,724,Busselton,AU,84.00,broken clouds,-33.65,115.33
11,726,Bowen,AU,80.60,scattered clouds,-20.02,148.23
12,729,Rikitea,PF,78.55,light rain,-23.12,-134.97
13,734,Butaritari,KI,81.30,light rain,3.07,172.79
14,737,Cape Town,ZA,75.20,clear sky,-33.93,18.42
15,738,Kiunga,PG,80.19,broken clouds,-6.12,141.29
16,743,Majene,ID,81.66,overcast clouds,-3.54,118.97
17,744,Quatre Cocos,MU,84.20,broken clouds,-20.21,57.76
18,748,Alofi,NU,77.00,light rain,-19.06,-169.92
19,757,Kavieng,PG,84.33,broken clouds,-2.57,150.80
20,758,Inhambane,MZ,89.60,few clouds,-23.86,35.38
21,764,Cabedelo,BR,78.80,few clouds,-6.98,-34.83
22,773,Georgetown,MY,87.80,few clouds,5.41,100.34
23,787,Kedougou,SN,78.80,clear sky,12.56,-12.17
24,793,Bambanglipuro,ID,81.46,overcast clouds,-7.95,110.28
25,797,Atuona,PF,78.03,clear sky,-9.80,-139.03
26,799,Bambous Virieux,MU,84.20,broken clouds,-20.34,57.76
27,800,Richards Bay,ZA,82.02,clear sky,-28.78,32.04
28,802,Port-Gentil,GA,82.40,few clouds,-0.72,8.78
29,804,Avarua,CK,77.00,broken clouds,-21.21,-159.78
30,805,Abu Dhabi,AE,75.20,clear sky,24.47,54.37
31,809,Pozo Colorado,PY,76.44,overcast clouds,-23.49,-58.80
32,816,Bathsheba,BB,75.20,broken clouds,13.22,-59.52
33,818,Itupiranga,BR,75.20,clear sky,-5.13,-49.33
34,820,Souillac,MU,84.20,broken clouds,-20.52,57.52
35,826,Natal,BR,77.00,broken clouds,-5.79,-35.21
36,828,Hithadhoo,MV,82.54,scattered clouds,-0.60,73.08
37,829,Bengkulu,ID,81.34,heavy intensity rain,-3.80,102.27
38,830,Mahebourg,MU,84.20,broken clouds,-20.41,57.70
39,831,Noumea,NC,80.60,clear sky,-22.28,166.46
40,840,Panlaitan,PH,81.95,overcast clouds,12.12,119.85
41,844,Cyangugu,RW,75.81,light rain,-2.48,28.91
42,846,Sao Jose Da Coroa Grande,BR,78.62,broken clouds,-8.90,-35.15
43,850,Isangel,VU,79.14,few clouds,-19.55,169.27
44,852,Arraial Do Cabo,BR,75.20,clear sky,-22.97,-42.03
45,853,Bonoua,CI,84.20,light rain,5.27,-3.60
46,856,Banjar,ID,84.20,few clouds,-8.19,114.97
47,862,Kigoma,TZ,80.60,light rain,-4.88,29.63
48,866,Maragogi,BR,78.66,broken clouds,-9.01,-35.22
49,868,Wattegama,LK,82.40,light intensity shower rain,6.80,81.48

In [14]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kruisfontein,ZA,80.01,clear sky,-34.00,24.73,
1,Dingle,PH,78.03,light rain,11.00,122.67,
2,Bredasdorp,ZA,75.20,clear sky,-34.53,20.04,
3,Malumfashi,NG,77.29,clear sky,11.79,7.62,
4,Vaini,TO,78.80,light rain,-21.20,-175.20,
...,...,...,...,...,...,...,...
189,Merauke,ID,82.74,overcast clouds,-8.47,140.33,
190,Honiara,SB,78.80,light intensity drizzle,-9.43,159.95,
191,Gizo,SB,83.73,light rain,-8.10,156.84,
192,Bonfim,BR,75.40,overcast clouds,3.08,-59.95,
193,Karratha,AU,85.69,clear sky,-20.74,116.85,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except(IndexError):
    print("Hotel not found... skipping.")

In [16]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kruisfontein,ZA,80.01,clear sky,-34.00,24.73,
1,Dingle,PH,78.03,light rain,11.00,122.67,
2,Bredasdorp,ZA,75.20,clear sky,-34.53,20.04,
3,Malumfashi,NG,77.29,clear sky,11.79,7.62,
4,Vaini,TO,78.80,light rain,-21.20,-175.20,
...,...,...,...,...,...,...,...
189,Merauke,ID,82.74,overcast clouds,-8.47,140.33,
190,Honiara,SB,78.80,light intensity drizzle,-9.43,159.95,
191,Gizo,SB,83.73,light rain,-8.10,156.84,
192,Bonfim,BR,75.40,overcast clouds,3.08,-59.95,
193,Karratha,AU,85.69,clear sky,-20.74,116.85,ibis Styles Karratha

In [36]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [42]:
clean_hotel_df.head(50)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
702,Kruisfontein,ZA,80.01,clear sky,-34.00,24.73,
704,Dingle,PH,78.03,light rain,11.00,122.67,
706,Bredasdorp,ZA,75.20,clear sky,-34.53,20.04,
707,Malumfashi,NG,77.29,clear sky,11.79,7.62,
710,Vaini,TO,78.80,light rain,-21.20,-175.20,
711,Wewak,PG,81.30,scattered clouds,-3.55,143.63,
713,Kapaa,US,75.20,clear sky,22.08,-159.32,
715,Grand Gaube,MU,82.00,overcast clouds,-20.01,57.66,
716,Hermanus,ZA,81.00,clear sky,-34.42,19.23,
718,Saint-Philippe,RE,87.80,light rain,-21.36,55.77,
724,Busselton,AU,84.00,broken clouds,-33.65,115.33,
726,Bowen,AU,80.60,scattered clouds,-20.02,148.23,
729,Rikitea,PF,78.55,light rain,-23.12,-134.97,
734,Butaritari,KI,81.30,light rain,3.07,172.79,
737,Cape Town,ZA,75.20,clear sky,-33.93,18.42,
738,Kiunga,PG,80.19,broken clouds,-6.12,141.29,
743,Majene,ID,81.66,overcast clouds,-3.54,118.97,
744,Quatre Cocos,MU,84.20,broken clouds,-20.21,57.76,
748,Alofi,NU,77.00,light rain,-19.06,-169.92,
757,Kavieng,PG,84.33,broken clouds,-2.57,150.80,
758,Inhambane,MZ,89.60,few clouds,-23.86,35.38,
764,Cabedelo,BR,78.80,few clouds,-6.98,-34.83,
773,Georgetown,MY,87.80,few clouds,5.41,100.34,
787,Kedougou,SN,78.80,clear sky,12.56,-12.17,
793,Bambanglipuro,ID,81.46,overcast clouds,-7.95,110.28,
797,Atuona,PF,78.03,clear sky,-9.80,-139.03,
799,Bambous Virieux,MU,84.20,broken clouds,-20.34,57.76,
800,Richards Bay,ZA,82.02,clear sky,-28.78,32.04,
802,Port-Gentil,GA,82.40,few clouds,-0.72,8.78,
804,Avarua,CK,77.00,broken clouds,-21.21,-159.78,
805,Abu Dhabi,AE,75.20,clear sky,24.47,54.37,
809,Pozo Colorado,PY,76.44,overcast clouds,-23.49,-58.80,
816,Bathsheba,BB,75.20,broken clouds,13.22,-59.52,
818,Itupiranga,BR,75.20,clear sky,-5.13,-49.33,
820,Souillac,MU,84.20,broken clouds,-20.52,57.52,
826,Natal,BR,77.00,broken clouds,-5.79,-35.21,
828,Hithadhoo,MV,82.54,scattered clouds,-0.60,73.08,
829,Bengkulu,ID,81.34,heavy intensity rain,-3.80,102.27,
830,Mahebourg,MU,84.20,broken clouds,-20.41,57.70,
831,Noumea,NC,80.60,clear sky,-22.28,166.46,
840,Panlaitan,PH,81.95,overcast clouds,12.12,119.85,
844,Cyangugu,RW,75.81,light rain,-2.48,28.91,
846,Sao Jose Da Coroa Grande,BR,78.62,broken clouds,-8.90,-35.15,
850,Isangel,VU,79.14,few clouds,-19.55,169.27,
852,Arraial Do Cabo,BR,75.20,clear sky,-22.97,-42.03,
853,Bonoua,CI,84.20,light rain,5.27,-3.60,
856,Banjar,ID,84.20,few clouds,-8.19,114.97,
862,Kigoma,TZ,80.60,light rain,-4.88,29.63,
866,Maragogi,BR,78.66,broken clouds,-9.01,-35.22,
868,Wattegama,LK,82.40,light intensity shower rain,6.80,81.48,

In [44]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure