In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Barrow,US,71.29,-156.79,-0.40,77,90,9.17,overcast clouds
1,1,Carnarvon,AU,-24.87,113.63,87.80,55,55,12.75,broken clouds
2,2,Hermanus,ZA,-34.42,19.23,79.00,55,0,7.00,clear sky
3,3,Bluff,NZ,-46.60,168.33,55.00,80,0,1.01,clear sky
4,4,Saint-Francois,FR,46.42,3.91,44.01,70,40,9.17,scattered clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)&(city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

NameError: name 'max_temp' is not defined

In [4]:
preferred_cities_df.dtypes

NameError: name 'preferred_cities_df' is not defined

In [27]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                531
City                   531
Country                528
Lat                    531
Lng                    531
Max Temp               531
Humidity               531
Cloudiness             531
Wind Speed             531
Current Description    531
dtype: int64

In [28]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_pref_df = preferred_cities_df.dropna()

In [29]:
clean_pref_df.count()

City_ID                528
City                   528
Country                528
Lat                    528
Lng                    528
Max Temp               528
Humidity               528
Cloudiness             528
Wind Speed             528
Current Description    528
dtype: int64

In [31]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_pref_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Carnarvon,AU,87.80,broken clouds,-24.87,113.63,
2,Hermanus,ZA,79.00,clear sky,-34.42,19.23,
3,Bluff,NZ,55.00,clear sky,-46.60,168.33,
4,Saint-Francois,FR,44.01,scattered clouds,46.42,3.91,
5,Albany,US,35.01,overcast clouds,42.60,-73.97,
6,Centerville,US,39.99,broken clouds,39.63,-84.16,
8,Saint-Philippe,RE,86.00,light rain,-21.36,55.77,
11,Port Alfred,ZA,73.99,overcast clouds,-33.59,26.89,
12,Punta Arenas,CL,48.20,clear sky,-53.15,-70.92,
13,Bambous Virieux,MU,82.40,broken clouds,-20.34,57.76,

In [32]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"
   
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
# Check for empty cells
hotel_df.count()

City                   528
Country                528
Max Temp               528
Current Description    528
Lat                    528
Lng                    528
Hotel Name             528
dtype: int64

In [7]:
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Carnarvon,AU,87.80,broken clouds,-24.87,113.63,Hospitality Carnarvon
1,2,Hermanus,ZA,79.00,clear sky,-34.42,19.23,Misty Waves Boutique Hotel
2,3,Bluff,NZ,55.00,clear sky,-46.60,168.33,Bluff Homestead - Guesthouse & Campervan Park
3,4,Saint-Francois,FR,44.01,scattered clouds,46.42,3.91,Manoir Du Bonheur
4,5,Albany,US,35.01,overcast clouds,42.60,-73.97,NaN

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = vacation_df.dropna()

In [12]:
clean_hotel_df.count()

City_ID                495
City                   495
Country                495
Max Temp               495
Current Description    495
Lat                    495
Lng                    495
Hotel Name             495
dtype: int64

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))